{% extends "base.html" %}

{% block title %}ToDo List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">TODO List</h1>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url "todolist:task_create" %}" class="btn btn-primary">Add Task</a>
    </div>

    <div class="list-group">
        {% for task in tasks %}
        <div class="list-group-item py-3">
            <h5 class="mb-1">
                {{ task.content }}
                <span class="badge {% if task.is_done %}bg-success{% else %}bg-danger{% endif %} float-end">
                  {% if task.is_done %}
                    Done
                  {% else %}
                    Not Done
                  {% endif %}
                </span>
            </h5>
            <small class="text-muted">
                Created: {{ task.created_at|date:"F j, Y, g:i a" }}.
                {% if task.deadline %}
                Deadline: {{ task.deadline|date:"F j, Y, g:i a" }}.
                {% endif %}
            </small>
            <p class="my-2">Tags: 
                {% for tag in task.tags.all %}
                <span class="badge bg-secondary">{{ tag.name }}</span>
                {% empty %}
                <span class="text-muted">No tags</span>
                {% endfor %}
            </p>

            <div class="mt-2">
                <a href="{% url "todolist:task_update" task.pk %}" class="btn btn-link btn-sm">Update</a>
                <a href="{% url "todolist:task_delete" task.pk %}" class="btn btn-link btn-sm text-danger">Delete</a>
                <form action="{% url "todolist:task_toggle_status" task.pk %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn {% if task.is_done %}btn-secondary{% else %}btn-success{% endif %} btn-sm">
                        {% if task.is_done %}
                          Done
                        {% else %}
                          Not Done
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-muted">No tasks available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
